# Application
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=data_onboarding

# Kafka
KAFKA_CLIENT_ID=data-onboarding-api
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP=data-onboarding-consumer
KAFKA_SITE_TOPIC=site-onboarding
KAFKA_BUILDING_TOPIC=building-onboarding
